@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191970;
}

.conteudo {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteudo::before {
    content: "";
    position: absolute;
    background-color: rgb(65,105,225);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.titulo-principal {
    color: #fff;
}

.titulo-secundario {
    color: rgb(65,105,225);
}

.descricao {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.descricao-principal {
    color: #fff;
}

.descricao-secundaria {
    color: #7f8c8d;
}

.botao {
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.botao-principal {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.botao-principal:hover {
    background-color: #fff;
    color: rgb(65,105,225);
}

.botao-secundario {
    background-color: rgb(65,105,225);
    border: 1px solid rgb(65,105,225);
    transition: background-color .5s;
}

.botao-secundario:hover {
    background-color: #fff;
    border: 1px solid rgb(65,105,225);
    color: rgb(65,105,225);
}

.primeiro-conteudo {
    display: flex;
}

.primeiro-conteudo .segunda-coluna {
    z-index: 11;
}

.primeira-coluna {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.segunda-coluna {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.formulario input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill {    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.rotulo-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icone-modificado {
    color: #7f8c8d;
    padding: 0 5px;
}

.segundo-conteudo {
    position: absolute;
    display: flex;
}

.segundo-conteudo .primeira-coluna {
    order: 2;
    z-index: -1;
}

.segundo-conteudo .segunda-coluna {
    order: 1;
    z-index: -1;
}

.entrar-js .primeiro-conteudo .primeira-coluna {
    z-index: -1;
}

.entrar-js .segundo-conteudo .segunda-coluna {
    z-index: 11;
}

.entrar-js .segundo-conteudo .primeira-coluna {
    z-index: 13;
}

.entrar-js .conteudo::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s;
    z-index: 12;
}

.cadastrar-js .conteudo::before {
    animation: slideout 1.3s;
    z-index: 12;
}

.cadastrar-js .segundo-conteudo .primeira-coluna,
.cadastrar-js .segundo-conteudo .segunda-coluna {
    z-index: -1;
}

.cadastrar-js .primeiro-conteudo .segunda-coluna {
    z-index: 11;
}

.cadastrar-js .primeiro-conteudo .primeira-coluna {
    z-index: 13;    
}

.entrar-js .primeiro-conteudo .segunda-coluna {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; 
}

.cadastrar-js .segundo-conteudo .segunda-coluna {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; 
}

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
    }

    50% {
        left: -100px;
        opacity: .2;
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
    }

    50% {
        left: 100px;
    }

    to {
        left: 110px;
        z-index: -1;
    }
}




@keyframes slidein {
    from { left: 0; width: 40%; }
    25% { left: 5%; width: 50%; }
    50% { left: 25%; width: 60%; }
    75% { left: 45%; width: 50%; }
    to { left: 60%; width: 40%; }
}

@keyframes slideout {
    from { left: 60%; width: 40%; }
    25% { left: 45%; width: 50%; }
    50% { left: 25%; width: 60%; }
    75% { left: 5%; width: 50%; }
    to { left: 0; width: 40%; }
}
