#botao-gerar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white; /* color */
  border-radius: 30px;
  border: 2px solid black; /* Black Border */
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#name{
    background-color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    color: blue;
}
#name:focus {
    border-color: white; /* on focus */
    outline: none; /* Remove default outline */
}

#height {
    background-color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    color: blue;
}
#height:focus {
    border-color: white; /* focus */
    outline: none; /* Remove default outline */
}


#width {
    background-color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    color: blue;
}
#width:focus {
    border-color: white; /* focus */
    outline: none; /* Remove default outline */
}


body{
    background-color: #191970;
}

canvas{
    background-color: white;
}

#botao-salvar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white; /* color */
  border-radius: 30px;
  border: 2px solid black; 
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#container-btnn{
  position: fixed;
  top: 10px;
}


.btnn {
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
  z-index: 999;
  border: rgba(0,0,255) 5px solid;
  filter: grayscale(0.5);
  -webkit-filter: grayscale(0.5);
}

.btnn img{
  width: 100%;
  height: 100%;
}

/*Borda adicionada
Cursor:Pointer add*/
.btnn:hover {
  border: rgba(0,0,255) 5px solid;
  cursor: pointer;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.btnn.selecionado {
  border: 5px solid red;
  filter: grayscale(0);
}

#botao-exportar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white; /* color */
  border-radius: 30px;
  border: 2px solid black; 
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}